@import 'import.less';

a[data-target]
{
	cursor: pointer;
}

body, html
{
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
}

code
{
	background-color: @code-background-color;
	color: @code-text-color;
}

h1, h2, h3, h4, h5
{
	&:hover
	{
		a
		{
			display: inline;
		}
	}
}

p:last-child
{
	margin-bottom: 0;
}

pre
{
	font-size: 12px;
	code
	{
		font-size: 11.5px;
	}
}

.back-to-top
{
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 24px;
	padding: 4px 8px;
	background-color: @back-to-top-background-color;
	text-decoration: none !important;
	border-top: 1px solid @back-to-top-border-color;
	border-left: 1px solid @back-to-top-border-color;
	border-right: 1px solid @back-to-top-border-color;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel
{
	overflow: hidden;
}

.panel-heading
{
	code
	{
		margin-left: 3px;
		color: @heading-code-text-color;
		background-color: @heading-code-background-color;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	h3
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.indent
{
	display: block;
	text-indent: 16px;
}

.inline-block
{
	display: inline-block;
}

.list-group
{
	a
	{
		border-left: none !important;
		border-right: none !important;
	}

}

.list-group-item
{
	padding-left: @line-height-computed;
	padding-right: @line-height-computed;
	&.collapse
	{
		display: none;
		&.in
		{
			display: block;
		}
	}
}

.lowercase
{
	text-transform: lowercase;
}

.content
{
	display: table-cell;
	padding-left: @nav-width;
	vertical-align: top;
	& > *
	{
		margin: 0;
		padding: @line-height-computed;
	}
	h1
	{
		background: @content-h1-background-color;
		border-bottom: 1px solid @content-h1-border-color;
		font-size: floor(@font-size-base * 1.6);
		line-height: 100%;
		&:not(:first-child)
		{
			border-top: 1px solid @content-h1-border-color;
		}
	}
	.action-body
	{
		padding: @line-height-computed;
		pre
		{
			background: @content-action-body-background-color;
			border: none;
			color: @content-action-body-text-color;
			padding: @line-height-computed/2 @line-height-computed;
		}
	}
	.action-examples
	{
		padding: @line-height-computed/2 @line-height-computed;
		h4
		{
			font-size: floor(@font-size-base * 1.4);
			line-height: 100%;
			margin: 0 0 @line-height-computed/2 0;
		}
	}
	.action-heading
	{
		padding: @line-height-computed/2 @line-height-computed;
		code
		{
			background: @content-action-heading-code-background-color;
			color: @content-action-heading-code-text-color;
		}
		&.danger
		{
			.action-heading-variant(@panel-danger-heading-bg, @panel-danger-border, @panel-danger-text);
		}
		&.default
		{
			.action-heading-variant(@panel-default-heading-bg, @panel-default-border, @panel-default-text);
		}
		&.info
		{
			.action-heading-variant(@panel-info-heading-bg, @panel-info-border, @panel-info-text);
		}
		&.primary
		{
			.action-heading-variant(@panel-primary-heading-bg, @panel-primary-border, @panel-primary-text);
		}
		&.success
		{
			.action-heading-variant(@panel-success-heading-bg, @panel-success-border, @panel-success-text);
		}
		&.warning
		{
			.action-heading-variant(@panel-warning-heading-bg, @panel-warning-border, @panel-warning-text);
		}
	}
	.action-parameters
	{
		padding: @line-height-computed/2 @line-height-computed;
		h4
		{
			font-size: floor(@font-size-base * 1.4);
			line-height: 100%;
			margin: 0 0 @line-height-computed/2 0;
		}
		table
		{
			width: auto;
			th
			{
				color: @content-action-parameters-table-th-color;
				font-weight: normal;
			}
		}
		.default, .required
		{
			text-align: center;
		}
		.example
		{
			color: @content-action-parameters-example-color;
		}
		.name
		{
			font-weight: bold;
		}
	}
	.response, .request
	{
		padding: @line-height-computed 0;
		&.collapsed
		{
			.toggle
			{
				.open
				{
					display: none;
				}
				.closed
				{
					display: block;
				}
			}
		}
		a
		{
			span.closed
			{
				display: none;
			}
			span.open
			{
				display: block;
			}
			&.collapsed
			{
				span.closed
				{
					display: block;
				}
				span.open
				{
					display: none;
				}
			}
		}
		pre
		{
			background: @content-reponse-pre-background-color;
			border: none;
			color: @content-reponse-pre-text-color;
			padding: @line-height-computed/2 @line-height-computed;
		}
		.toggle
		{
			.open
			{
				display: block;
			}
			.closed
			{
				display: none;
			}
		}
		.response-content
		{
			// margin: 0 -@line-height-computed @line-height-computed/2 -@line-height-computed;
			h5
			{
				font-weight: bold;
				// padding: 0 @line-height-computed;
			}
		}
	}
	.resource-body
	{
		.action-method
		{
			display: inline-block;
			margin-right: @line-height-computed / 2;
		}
		.panel-body
		{
			padding: @line-height-computed;
		}
		.panel-heading
		{
			padding: @line-height-computed;
		}
	}
	.resource-group-body
	{
		padding: 0;
	}
	.resource-heading
	{
		background: @content-resource-heading-background-color;
		border-bottom: 1px solid @content-resource-heading-border-color;
		font-size: floor(@font-size-base * 1.3);
		line-height: 100%;
		margin: 0;
		padding: @line-height-computed;
		&:not(:first-child)
		{
			border-top: 1px solid @content-resource-heading-border-color;
		}
	}
	.schema-substructure-title
	{
		background: #ecf8ff;
		color: #000 !important;
	}
	.table-schema
	{
		th
		{
			color: #555;
		}
		.description
		{
			color: #000;
		}
		.example
		{
			font-style: italic;
		}
		.name
		{
			color: #0074d1;
		}
		.null, .required
		{
			color: #474747;
			text-align: center;
		}
		.type
		{
			color: #bb51f0;
			a
			{
				border-bottom: 1px dotted #8400d5;
				color: #8400d5;
				line-height: 70%;
				text-decoration: none;
				&:hover
				{
					color: #000;
					border-bottom-color: #000;
				}
			}
		}
		.values
		{
			ul
			{
				margin-bottom: 0;
			}
		}
	}
}

.navigation
{
	background: @navigation-background-color;
	color: @navigation-text-color;
	display: table-cell;
	height: 100%;
	padding: 0;
	position: fixed;
	vertical-align: top;
	width: @nav-width;
	h1
	{
		background: @navigation-h1-background-color;
		color: @navigation-h1-text-color;
		font-size: floor(@font-size-base * 1.6);
		line-height: 100%;
		margin: 0;
		padding: @line-height-computed;
	}
	.host
	{
		a
		{
			color: @navigation-host-a-text-color;
			&:hover
			{
				color: @navigation-host-a-text-color-hover;
			}
		}
		padding: 0 @line-height-computed;
		text-align: center;
		word-wrap: break-word;
	}
	.list-group-item
	{
		background: transparent;
		border-color: @navigation-list-border-color;
		color: @navigation-list-text-color;
		&:hover
		{
			background: @navigation-list-background-color-hover;
			color: @navigation-list-text-color-hover;
		}
		&.heading
		{
			background: @navigation-list-heading-background-color;
			border: 1px solid @navigation-list-heading-border-color;
			color: @navigation-list-heading-text-color;
			font-size: floor(@font-size-base * 1.3);
			&:hover
			{
				background: @navigation-list-heading-background-color-hover;
			}
		}
	}
}

.page
{
	display: table;
	height: 100%;
	width: 100%;
}