@import 'import.less';

a[data-target]
{
	cursor: pointer;
}

body, html
{
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
}

code
{
	background-color: @code-background-color;
	color: @code-text-color;
}

h1, h2, h3, h4, h5
{
	&:hover
	{
		a
		{
			display: inline;
		}
	}
}

p:last-child
{
	margin-bottom: 0;
}

pre
{
	font-size: 12px;
	code
	{
		font-size: 11.5px;
	}
}

.bg-grey
{
	background: #eee;
}

.code
{
	font-family: monospace;
}

.content
{
	display: block;
	margin-left: @navigation-width;
	vertical-align: top;
	h1, h2, h3, h4, h5
	{
		font-weight: normal;
		line-height: 100%;
		margin: 0;
		padding: 0;
	}
	h1
	{
		font-size: @font-size-base * 2.0;
	}
	h2
	{
		font-size: @font-size-base * 1.7;
	}
	h3
	{
		font-size: @font-size-base * 1.4;
	}
	h4
	{
		font-size: @font-size-base * 1.1;
	}
	.action-examples, .action-parameters
	{
		h3
		{
			margin-bottom: floor(@line-height-computed * 0.75);
		}
	}
	.action-heading
	{
		.btn-group
		{
			margin-bottom: @line-height-computed;
		}
	}
	.action-parameters
	{
		table
		{
			th
			{
				color: @content-action-parameters-table-th-color;
				font-weight: normal;
			}
		}
		.default, .required
		{
			text-align: center;
		}
		.example
		{
			color: @content-action-parameters-example-color;
			font-style: italic;
		}
		.name
		{
			font-weight: bold;
		}
	}
	.action-pattern
	{
		margin-right: @line-height-computed;
	}
	.introduction
	{
		h1
		{
			background: @content-introduction-h1-background-color;
			color: #fff;
			font-size: floor(@font-size-base * 1.6);
			font-weight: normal;
			line-height: 260%;
			padding: 0 @content-padding-side;
		}
		.description
		{
			background: @content-introduction-description-background-color;
			padding: @content-padding-side;
		}
	}

	.resource-body
	{
		padding-bottom: @line-height-computed;
		&:not(:last-child)
		{
			border-bottom: 1px dashed @content-resource-group-border-color;
			margin-bottom: @line-height-computed;
		}
	}
	.resource-group
	{
		border-bottom: 1px solid @content-resource-group-border-color;
		padding: @content-padding-side;
	}
	.resource-group-anchor
	{
		color: @content-resource-group-anchor-text-color;
		margin-left: @line-height-computed;
		&:hover
		{
			color: @content-resource-group-anchor-text-hover-color;
		}
	}
	.resource-group-body
	{
		h2
		{
			margin-bottom: @line-height-computed;
			span
			{
				color: @content-resource-body-heading-text-color;
			}
		}
	}
	.resource-group-heading
	{
		margin-bottom: @line-height-computed;
		span
		{
			color: @content-resource-heading-text-color;
			text-transform: uppercase;
		}
	}
	.response, .request
	{
		&.collapsed
		{
			.toggle
			{
				.open
				{
					display: none;
				}
				.closed
				{
					display: block;
				}
			}
		}
		a
		{
			span.closed
			{
				display: none;
			}
			span.open
			{
				display: block;
			}
			&.collapsed
			{
				span.closed
				{
					display: block;
				}
				span.open
				{
					display: none;
				}
			}
		}
		pre
		{
			background: @content-reponse-pre-background-color;
			border: none;
			color: @content-reponse-pre-text-color;
			padding: @line-height-computed/2 @line-height-computed;
		}
		.toggle
		{
			.open
			{
				display: block;
			}
			.closed
			{
				display: none;
			}
		}
	}
	.response-code
	{
		display: inline-block;
		font-weight: bold;
		line-height: 1.5;
		padding: 5px 10px;
	}
	.response-code-200, .response-code-201
	{
		background: @response-code-200-background-color;
		color: @response-code-200-text-color;
	}
	.response-code-400, .response-code-401, .response-code-404, .response-code-422
	{
		background: @response-code-400-background-color;
		color: @response-code-400-text-color;
	}
	.response-content
	{
		padding-top: 15px;
		h4
		{
			margin-bottom: @line-height-computed/2;
		}
		.nav-pills
		{
			a
			{
				background: @content-nav-pill-background-color;
				color: @content-nav-pill-text-color;
				&:hover
				{
					background: @content-nav-pill-hover-background-color;
					color: @content-nav-pill-hover-text-color;
				}
			}
			.active
			{
				a
				{
					background: @content-nav-pill-active-background-color;
					color: @content-nav-pill-active-text-color;
				}
			}
		}
	}
	.response-show
	{
		display: inline-block;
		margin-left: 20px;
	}
	.schema-popup
	{
		box-shadow: 0px 0px 15px 5px @schema-popup-shadow-background-color;
		background: @schema-popup-background-color;
		display: none;
		padding: 10px;
		position: absolute;
		table
		{
			margin-bottom: 0;
			width: auto;
		}
		&.active
		{
			display: block !important;
		}
	}
	.schema-substructure-title
	{
		background: @schema-substructure-title-background-color;
		color: @schema-substructure-title-text-color !important;
	}
	.table-schema
	{
		th
		{
			color: @table-schema-th-color;
		}
		.description
		{
			color: @table-schema-description-color;
		}
		.example
		{
			font-style: italic;
		}
		.name
		{
			color: @table-schema-name-color;
		}
		.null, .required
		{
			color: @table-schema-null-color;
			text-align: center;
		}
		.type
		{
			color: @table-schema-type-color;
			a
			{
				border-bottom: 1px dotted @table-schema-type-link-color;
				color: @table-schema-type-link-color;
				line-height: 70%;
				text-decoration: none;
				&:hover
				{
					color: @table-schema-type-link-hover-color;
					border-bottom-color: @table-schema-type-link-hover-color;
				}
			}
		}
		.values
		{
			ul
			{
				margin-bottom: 0;
			}
		}
	}
}

.navigation
{
	background: @navigation-background-color;
	bottom: 0;
	color: @navigation-text-color;
	display: block;
	height: 100%;
	left: 0;
	overflow: scroll;
	padding: 0;
	position: fixed;
	vertical-align: top;
	top: 0;
	width: @navigation-width;
	h1
	{
		background: @navigation-h1-background-color;
		color: @navigation-h1-text-color;
		font-size: floor(@font-size-base * 1.6);
		font-weight: normal;
		line-height: 260%;
		margin: 0;
		text-align: center;
	}
	.host
	{
		margin-bottom: @line-height-computed;
		text-align: center;
		word-wrap: break-word;
		a
		{
			color: @navigation-host-a-text-color;
			line-height: 220%;
			&:hover
			{
				color: @navigation-host-a-text-color-hover;
			}
		}
	}
	.list-group
	{
		margin-bottom: 0;
		&:not(:last-child)
		{
			margin-bottom: @line-height-computed;
		}
	}
	.list-group-item
	{
		background: transparent;
		border: none;
		color: @navigation-list-text-color;
		line-height: 250%;
		padding: 0 @line-height-computed;
		&:hover
		{
			background: @navigation-list-background-color-hover;
			color: @navigation-list-text-color-hover;
		}
		&:last-child
		{
			border-bottom: none;
		}
		&.heading
		{
			border: none;
			color: @navigation-list-heading-text-color;
			font-size: floor(@font-size-base * 1.3);
			text-transform: uppercase;
			&:hover
			{
				background: @navigation-list-heading-background-color-hover;
			}
		}
		.badge
		{
			margin-top: 7px;
		}
	}
}

.page
{
	height: 100%;
	width: 100%;
}

.table-auto-width
{
	width: auto;
}