@content-padding-side: 20px;

@code-background-color: #ddd;
@code-text-color: #444;

@color-hue: 205;
@color-saturation: 46%;
@color-lightness: 37%;
@color: hsl(@color-hue, @color-saturation, @color-lightness);

@content-action-parameters-table-th-color: #333;
@content-action-parameters-example-color: #555;
@content-action-example-border-color: hsl(@color-hue, @color-saturation * 1.5, @color-lightness * 2);

@content-reponse-pre-background-color: #3f3f3f;
@content-reponse-pre-text-color: #dcdcdc;

@content-introduction-h1-background-color: hsl(@color-hue, @color-saturation * 1.3, @color-lightness * 1.2);
@content-introduction-description-background-color: hsl(@color-hue, @color-saturation * 1.5, 90%);

@content-nav-pill-background-color: hsl(@color-hue, @color-saturation * 1.2, 90%);
@content-nav-pill-text-color: hsl(@color-hue, @color-saturation * 1.3, 10%);
@content-nav-pill-active-background-color: hsl(@color-hue, @color-saturation * 1.3, 50%);
@content-nav-pill-active-text-color: #fff;
@content-nav-pill-hover-background-color: hsl(@color-hue, @color-saturation * 1.3, 30%);
@content-nav-pill-hover-text-color: #fff;

@content-resource-body-heading-text-color: lighten(@content-resource-heading-text-color, 15%);

@content-resource-group-anchor-text-color: hsl(@color-hue, 10%, 70%);
@content-resource-group-anchor-text-hover-color: darken(@content-resource-group-anchor-text-color, 15%);

@content-resource-group-border-color: hsl(@color-hue, @color-saturation * 1.3, 90%);

@content-resource-heading-text-color: hsl(@color-hue, @color-saturation, @color-lightness);

@navigation-background-color: hsl(@color-hue, @color-saturation * 1.2, @color-lightness);
@navigation-text-color: #fff;
@navigation-width: 280px;

@navigation-h1-background-color: hsl(@color-hue, @color-saturation * 1.1, @color-lightness * 0.75);
@navigation-h1-text-color: #fff;

@navigation-host-a-text-color: hsl(@color-hue, @color-saturation, 80%);
@navigation-host-a-text-color-hover: hsl(@color-hue, @color-saturation, 70%);

@navigation-list-background-color-hover: hsl(@color-hue, @color-saturation * 1.2, @color-lightness * 0.8);
@navigation-list-text-color: #eee;
@navigation-list-text-color-hover: #fff;

@navigation-list-heading-background-color-hover: hsl(@color-hue, @color-saturation * 1.2, @color-lightness * 0.75);
@navigation-list-heading-text-color: #eee;

@response-code-200-background-color: #dff0d8;
@response-code-200-text-color: #3c763d;
@response-code-400-background-color: #f2dede;
@response-code-400-text-color: #a94442;

@schema-substructure-title-text-color: hsl(@color-hue, @color-saturation * 0.8, 30%);
@schema-substructure-title-background-color: hsl(@color-hue, @color-saturation * 0.7, 90%);
@schema-popup-shadow-background-color: hsl(@color-hue, @color-saturation * 0.7, 80%);
@schema-popup-background-color: #f4f4f4;

@table-schema-description-color: #000;
@table-schema-name-color: #0074d1;
@table-schema-null-color: #474747;
@table-schema-th-color: #555;
@table-schema-type-color: #bb51f0;
@table-schema-type-link-color: darken(@table-schema-type-color, 15%);
@table-schema-type-link-hover-color: #000;